@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    height: 70px;
    background-color: green;
    width: 100%;

}
.header .slide_navbar{
    display: flex;
    align-items: center;

}
.header .slide_navbar .navbar_item{
    flex-basis: 10%;
    margin-right: 2rem;
    font-size: 22px;

}
.header .slide_navbar .navbar_item .navbar_link{
    color:#fff;
}
.header .slide_navbar .navbar_item .navbar_link img{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.body{

    width: 100%;
    
}
.body .slide_track{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.body .slide_track .slide{
    width: 500%;

    display: flex;
}
.body .slide_track .slide .slide_item{
    width: 20%;

}
.Accordion{
    background-image: url(./img/Top-20-Tien-hiep.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;

}
.header_html{
    margin: 0 9rem 1rem 9rem;
    border-bottom: 3px solid #b0d4e4;
    position: relative;
}
.html_toggle, .css_toggle, .jquery_toggle{
    display: none;
}
.container{
    width: 80%; 
}
.container p{
    color:#fff;
}
.text_toggle{
    display: flex;
    width: 60%;
    margin: 0.75rem 0;
}
.text_toggle .substance{
    flex-basis: 60%;
}
.text_toggle ul{
    margin-top: 0.5rem;
}
.text_toggle li{
    color:#fff;
    margin-top: 5px;
    font-size: 18px;
}
.img_zoom{
    width: 60%;
    display: flex;
    margin: 0.75rem 0;
}
.img_zoom img{
    flex-basis: 25%;
    height: 200px;
    margin-right: 30px;
}
.carousel_container_html, .carousel_container_css,.carousel_container_jquery{
 
    display: none;
    position: absolute;
    top: 5%;
    left: 15%;
    z-index:1;
    overflow: hidden;
}
.carousel_html, .carousel_css, .carousel_jquery{
    display: flex;
    width: 1100px;
    
    transform: translateX(0);
}
.carousel_html img, .carousel_css img,.carousel_jquery img{
    width: 1100px;
    height: 700px;
}
.arrow_control{
    top: 320px;
   width: 100%;
   height: 50px;
   position: absolute;
   display: flex;
   align-items: center;
}
.arrow_control .space{
    flex: 1;
}
.arrow_control a{
    padding: 10px 10px;
    background-color: #ccc;
    border-radius: 50%;
}
.footer{
    width: 100%;
    height: 300px;
    margin-top: 21rem;

    background-color: green;
    font-family: arial,sans-serif !important;
}
.footer .container-footer{
    display: flex;
    width: 85%;
    height: 100%;
    margin:  auto;
    color: azure;
}
.col-recomment{
    margin-top: 15px;
    flex-basis: 70%;
}
.col-info ul li{
    list-style: none;
    margin-top: 20px;
}

